@charset "utf-8";

$body-background-color: #f7f7f7;

@import "~bulma/bulma";

.button {
  &.is-loading {
    &.is-inverted {
      &::after {
        border-color: transparent transparent #dbdbdb #dbdbdb !important;
      }
    }
  }
}

#notifications {
  position: fixed;
  right: 0.75rem;
  bottom: 0.5rem;
  max-width: 250px;

  .notification {
    float: right;
    display: inline-block;
  }
}
