RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/javascript text/javascript application/json
